{% extends 'layout.html' %}

{% block content %}
{% block title %}
<title>Home | E-Shopper</title>
{% endblock %}

	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm">
									<img src="{{url_for('static', filename = 'ecommerce-bookstore/images/slider1.jpeg')}}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm">
									<img src="{{url_for('static', filename = 'ecommerce-bookstore/images/slider2.jpeg')}}" class="img-responsive" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm">
									<img src="{{url_for('static', filename = 'ecommerce-bookstore/images/slider4.jpeg')}}" class="img-responsive" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->

							{% for i in Genres %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="{{url_for('genre_render', genre = i.genre )}}">{{i.genre}}</a></h4>
								</div>
							</div>
								
							{% endfor %}
							
						</div><!--/category-products-->
					
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Bestsellers</h2>
						{% for book in Books %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="{{url_for('static', filename = 'ecommerce-bookstore/images/')}}{{ book.image_url }}" alt="" />
											<h2>${{book.price}}</h2>
											<p>{{book.title}}</p>
											<a href="/book/{{loop.index}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
							
						</div>
						{% endfor %}
					</div><!--features_items-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
								{% for book in Books %}
									{% if book.id < 4 %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{url_for('static', filename = 'ecommerce-bookstore/images/')}}{{ book.image_url }}" alt="" />
													<h2>${{book.price}}</h2>
													<p>{{book.title}}</p>
													<a href="/book/{{loop.index}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									{% endif %}
								{% endfor %}
								</div>
								<div class="item">	
								{% for book in Books %}
										{% if 3 < book.id < 7 %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{url_for('static', filename = 'ecommerce-bookstore/images/')}}{{ book.image_url }}" alt="" />
													<h2>${{book.price}}</h2>
													<p>{{book.title}}</p>
													<a href="/book/{{loop.index}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												
											</div>
										</div>
									</div>
									{% endif %}
								{% endfor %}
									
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
{% endblock %}
	